<div class="courses-container">
  <h2 class="courses-title">Danh Sách Khóa Học</h2>



  <div class="courses-grid">
    {{#each courses}}
      <div class="course-card">
        <img src="/uploads/courses/{{this.image}}" alt="{{this.title}}" class="course-image" />
        <h3 class="course-title">{{this.title}}</h3>
        <p class="course-description">{{this.description}}</p>
        <a href="/course/detail-course/{{this._id}}" class="btn-detail">Xem Chi Tiết</a>
      </div>
    {{/each}}
  </div>

    {{#if isAdmin}}
    <a href="/course/create" class="btn-create"><h2>Đăng Khóa Học</h2></a>
    {{/if}}
</div>
